<template lang="pug">
v-app(
  style="min-height: 100vh;"
  :theme='store.theme'
)
  v-app-bar(color="primary")
    v-app-bar-title {{store.config.programName}} {{store.config.version}}

    v-spacer

    v-card(flat color="primary"): v-card-text.mt-10
      v-form: v-switch.dark-mode(
        v-model='store.theme'
        alt="Dark Mode"
        density="compact"
        append-icon="mdi-weather-night"
        prepend-icon="mdi-white-balance-sunny"
        true-value="darkTheme"
        false-value="lightTheme"
      )

    v-text-field(
      autofocus
      clearable
      prepend-inner-icon="mdi-magnify"
      label="Search"
      v-model="store.query"
      @input="search"
    )

  v-main: v-container
    router-view

  v-footer fast-biodb is &copy; 2022 Stefan Seemayer. Licensed under MIT license.
</template>

<script setup>
import { router } from '@/router'
import { useStore } from '@/store'
const store = useStore()
store.loadConfig()

function search () {
  store.search()

  if (router.currentRoute._value.name == 'details') {
    router.push({name: 'home'})
  }
}

</script>

<style lang="stylus">
.dark-mode
  .v-input__append
    margin-inline-start 0
</style>
