<template lang="pug">
v-card
  v-sheet(color="secondary")
    v-card-title
      v-btn.mr-3(flat icon :to="{name: 'home'}"): v-icon mdi-arrow-left
      | {{props.identifier}}

  v-tabs(v-model="view" background-color="secondary")
    v-tab(
      v-for="of in store.config.outputFormats"
      :key ='of'

      :value="of"
      :to='{ name: "details", params: { identifier: props.identifier, view: of }}'
    ) {{of}}

  v-card-text: v-window(v-model="view")
    v-window-item(value="flat") 
      v-textarea(
        v-if="state.data"
        v-model="state.data"
        bg-color="background"
        auto-grow
        readonly
        style="font-family: monospace"
      )

    v-window-item(value="json")
      json-viewer(
        v-if="state.data"
        :value="state.data"
        :expand-depth="1"
        copyable
        :theme="store.theme === 'darkTheme' ? 'dark' : 'light'"
        style="font-family: monospace"
      )

    v-window-item(value="fasta")
      v-textarea(
        v-if="state.data"
        v-model="state.data"
        bg-color="background"
        auto-grow
        readonly
        style="font-family: monospace"
      )


</template>

<script setup>
import axios from 'axios'
import { defineProps, reactive, watch } from 'vue'
import { useStore } from '@/store'
const store = useStore()

const props = defineProps(['identifier', 'view'])

const state = reactive({
  data: '',
})

watch(props, async () => {
  console.log('watcher triggered')
  await update()
})

async function update() {
  state.data = null

  let res = await axios.post(`api/entry/format/${props.view}`, { ids: [props.identifier]})

  let data = res.data

  if(props.view === 'json') {
    data = data[props.identifier]
  }

  state.data = data
}

update()

</script>
