<template lang="pug">
v-card(v-show="store.query")
  v-card-text
    v-table(fixed-header)
      thead
        tr
          th Identifier
          th Description
          th Score

      tbody
        tr(v-for='hit in store.hits' :key='hit.identifier' @click='$router.push({name: "details", params: { identifier: hit.identifier, view: "flat" }})')
          th {{hit.identifier}}
          td {{hit.description}}
          td {{hit.score.toFixed(1)}}

      tfoot: tr: th(colspan="12")

        v-layout
          v-row
            v-col(:cols="1").mt-5 {{ store.total }} Hits
            v-col(:cols="10"): v-pagination(
              :length="pages"
              v-model="page"
            )
            v-col(:cols="1")

div(v-show="!store.query").pt-10
  img.float-left.mr-10.mb-10(src="../assets/logo.svg")

  div.pt-10
    h1.text-h1 Welcome!
    p.text-h4.mt-5 Enter a search term to get started.
    p.text-h6 Examples:&nbsp;
      a(@click="store.query='amylase'; store.search()") amylase
      | , 
      a(@click="store.query='capsid'; store.search()") capsid
      | , 
      a(@click="store.query='kinase inhibitor'; store.search()") kinase inhibitor
      
    p.mt-10 fast-biodb is a search engine for quickly accessing data from bioinformatics flatfile databases. It uses <a href="https://github.com/quickwit-oss/tantivy" target="_blank">Tantivy</a> to create an index of database file offset for search terms, and a collection of optimized Rust parsers to quickly retrieve entry data on-demand.

</template>

<script setup>
import { computed } from 'vue'
import { useStore } from '@/store'
const store = useStore()

const pages = computed(() => Math.ceil(store.total / store.limit))
const page = computed({
  get() {
    return Math.ceil(store.offset / store.limit) + 1
  },
  set(newValue) {
    store.offset = (newValue - 1) * store.limit
    store.search()
  }
})

</script>
